<main>
    <section class="tarefas">
        {{#each tarefas}}
        <div class="tarefa">
            <form action="">
                <div class="completa">
                    <input type="checkbox" id="tarefa-1{{this.id}}" onclick="completarTarefas({{this.id}})">
                    <label for="tarefa-1{{this.id}}">{{this.id}}</label>
                </div>

                <button>
                    <img src="/public/imagens/x-icon.png" alt="icone de x para sair">
                </button>
            </form>
        </div>
        {{/each}}

        <div class="informacoes">
            <p>{{quantidadesTarefas}} tarefas ativas</p>
            <div class="botoes">
                <a href="/">Todas</a>
                <a href="/ativas" class="active">Ativas</a>
                <a href="/completas">Completas</a>
            </div>
            <a href="">Limpar tarefas</a>
        </div>

    </section>

    <section class="botoes">
        <a href="/">Todas</a>
        <a href="/ativas" class="active">Ativas</a>
        <a href="/completas">Completas</a>
    </section>
</main>